@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<h1>Authentication Screen 🔒</h1>

<form asp-action="Index" asp-controller="Product">
    <button class="btn btn-primary" type="submit">
        Login (Test only)
    </button>
</form>
