@import 'colors.css';

.custom-button {
    background: var(--primary-blue) !important;
    border: 0px !important;
}

.custom-button-light {
    background: var(--light-blue) !important;
    border: 0px !important;
}

.custom-button:hover {
    background: var(--primary-blue-hover) !important;
}

.custom_header {
    background: var(--primary-blue) !important;
    color: white !important;
}

.custom_header_navigation {
    border-radius: 50px;
    background: white;
    overflow: hidden;
    padding: 4px;
}

.custom_header_navigation .active {
    border-radius: 50px;
    background: var(--primary-blue) !important;
}

.custom_header_navigation .nav-item {
    width: 120px;
    text-align: center;
    transition: 300ms;
    margin: 2px;
}

.custom_header_navigation .nav-item:hover {
    background: #8791d5 !important;
    border-radius: 50px;
}

.notification-button {
    color: white !important;
    font-size: 24px;
}

.light-blue {
    background: #ECF4FD !important;
}

/*MOBILE BREAKPOINT*/

@media screen and (max-width: 576px) {
    .custom_header ul {
        background: none !important;
    }

    .custom_header_navigation .nav-item {
        text-align: center;
    }

    .notification-button {
        display: none;
    }
}
