@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>NOTIFICATIONS VIEW COMPONENT</h1>
<button id="tt" type="button" class="btn">Click me</button>

@section Scripts {
    <script>
        $(document).ready(function () {
            console.log('Notification script loaded.');
        });
        document.getElementById("tt").addEventListener('click', function () {
            alert("ASdASDA");
        })
    </script>
}